@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
   
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}

/*---------NAV style Start---------*/
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.navbar ul{
    display: flex;
    gap: 10px;
    padding: 20px;
}
.navbar ul li{
    padding: 15px;
    font-weight:400;
    font-style: bold;
    color: rgb(220, 9, 76);
}
.navbar ul li:hover{
    color: rgb(9, 222, 222);
}
.logo a{
    color: rgb(240, 5, 5);
    font-size: 20px;
   
}
.logo a span {
    color: brown;
}
.header{
    background-image:linear-gradient(rgb rgb(222, 12, 12));
    background-size: cover;
    background-repeat: no-repeat;
}
.proinfo{
    display: flex;
    
}
.name{
    color: aliceblue;
    padding: 100px 150px;
    margin: 50px;
}
.pro-pic{
    width:400px;
    margin: 50px;
    border: 2px solid rgb(78, 118, 118);
    border-radius: 1000px;
    margin-top: 100px;
    margin-left: 300px;
    box-shadow: 0px 0px 100px 10px  rgb(18, 199, 12);
   
    
    
}

